img {
	max-width: -webkit-fill-available;
}

.wrapper {
	max-width: 100%;
	overflow: hidden;
	line-height: normal;
}

.marquee {
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	padding: 0.5rem;
	height: 2.3rem;
	animation: marquee 30s linear infinite;
}

.marquee h5 {
	display: inline-block;
}

@keyframes marquee {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-50%, 0, 0);
	}
}

.main-banner {
	min-width: -webkit-fill-available;
}

.title {
	color: brown;
}

.mobile-only {
	display: none;
}

header {
	position: absolute;
	width: 98.2%;
	background-color: rgba(240, 248, 255, 0.397);
}

.embedsocial-hashtag {
	z-index: -1;
	margin-top: -93px;
}

@media screen and (max-width: 1400px) {
	header {
		width: 97.9%;
	}
}

@media screen and (max-width: 1200px) {
	header {
		width: 97.5%;
	}
}

@media screen and (max-width: 992px) {
	header {
		width: 96.7%;
	}
}

@media screen and (max-width: 768px) {
	header {
		width: 95.6%;
	}

	#push-right {
		display: none;
	}

	/* #logo {
		padding: 0 50px 0 0;
	} */
}

@media screen and (max-width: 576px) {
	.mobile-only {
		display: block;
	}
	header {
		width: unset;
		position: unset;
	}
}

body {
	background-color: rgb(32, 32, 32);
	color: #f10065;
}

.footer {
	border-radius: 0.5vw;
	background-color: #212529;
	color: #f10065;
}

a {
	text-decoration: none;
	color: unset;
}

.container {
	position: relative;
}
#navbarsExample03 {
	text-align: center;
}

.logo {
	max-width: fit-content;
}
